<header>
    <div>
        <ul>
        {% if request.user.is_authenticated %}
        <li>
            <p>{{request.user.username}}</p>
        </li>
        <li>
            <a href = "{% url 'logout' %}">Sign out</a>
        </li>
        {% else %}
        <li>
            <a href = "{% url 'login' %}">Sign in</a>
        </li>
        <li>
            <a href = "{% url 'sign_up' %}">Sign up</a>
        </li>
        {% endif %}
        </ul>
    </div>

    <div>
        <a href = "{% url 'new_post' %}"> Create new post </a>
    </div>
</header>

<div>
    {% for post in object_list %}
        <a href = "{% url 'post_detail' post.id %}">
            <img src = "/{{ post.image }}" width = 150 height = 150>
        </a>
    {% endfor %}
</div>